:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.input-generic{

}

.error {
  border: 1px solid tomato;
}

.no-error {
  border: 1px solid rgb(108, 252, 25);
}

.formField{
  border: 1px solid black;
}